cve-polling.json
{
  "name": "CVE Polling",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -320
      ],
      "id": "69e285c5-6dac-4a0e-b4f1-87e00568c241",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keywordSearch",
              "value": "npm"
            },
            {
              "name": "cvssV3Severity",
              "value": "HIGH"
            },
            {
              "name": "pubStartDate",
              "value": "={{ new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString().split('.')[0] + '.000' }}"
            },
            {
              "name": "pubEndDate",
              "value": "={{ new Date().toISOString().split('.')[0] + '.000' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "8a79a728-1d23-4e29-966a-ccb0d6e835fa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        -320
      ],
      "id": "d611429c-870f-4f31-a575-022934720a36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const vulnerabilities = items[0].json.vulnerabilities;\nif (!vulnerabilities || vulnerabilities.length === 0) return [];\nreturn vulnerabilities.map(vuln => {\n  const cve = vuln.cve;\n\n  const cvssV31 = cve.metrics?.cvssMetricV31?.[0]?.cvssData;\n  const cvssV40 = cve.metrics?.cvssMetricV40?.[0]?.cvssData;\n  const cvss = cvssV31 || cvssV40;\n\n  const description = cve.descriptions?.find(d => d.lang === 'en')?.value || '';\n  return {\n    json: {\n      cve_id: cve.id,\n      published: cve.published,\n      severity: cvss?.baseSeverity || 'UNKNOWN',\n      cvss_score: cvss?.baseScore || 0,\n      description: description,\n      vuln_status: cve.vulnStatus\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -320
      ],
      "id": "4a8a931b-8e4d-48f8-91a3-2dab49d575c8",
      "name": "Parse + Extract Relevant Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4399589-8d41-4672-b3c9-0dce11c2da8f",
              "leftValue": "={{ $json.cvss_score }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -112,
        -320
      ],
      "id": "9e330a54-c20c-45fe-96d4-be4a8d741f09",
      "name": "Filter CVSS Score >= 7.0"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.cves) staticData.cves = [];\n\n\nconst existingIds = new Set(staticData.cves.map(c => c.cve_id));\nconst newCves = items\n  .map(item => item.json)\n  .filter(cve => !existingIds.has(cve.cve_id));\n\nstaticData.cves = [...staticData.cves, ...newCves];\n\nconsole.log(`Added ${newCves.length} new CVEs. Total stored: ${staticData.cves.length}`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -320
      ],
      "id": "5d8c308a-a11a-4a05-b5f8-64ed824c39a8",
      "name": "Log Results"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse + Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Extract Relevant Fields": {
      "main": [
        [
          {
            "node": "Filter CVSS Score >= 7.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter CVSS Score >= 7.0": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "20b23796-0d90-4742-b0c1-9094285fc8cd",
  "meta": {
    "instanceId": "44f0d04a52d6c94201fdde2050dbad2e51c312dc0de8633f8b438c42e0aba4e4"
  },
  "id": "10YGTp3FxSDY2iC7",
  "tags": []
}