workflows/CVE Polling.json
{
  "name": "CVE Polling",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b714e2fe-4455-4364-beb7-aea76481a4d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keywordSearch",
              "value": "npm"
            },
            {
              "name": "cvssV3Severity",
              "value": "HIGH"
            },
            {
              "name": "pubStartDate",
              "value": "={{ new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString().split('.')[0] + '.000' }}"
            },
            {
              "name": "pubEndDate",
              "value": "={{ new Date().toISOString().split('.')[0] + '.000' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "8a79a728-1d23-4e29-966a-ccb0d6e835fa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "71d86128-1bf3-476f-a7e3-7966b8eed994",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const vulnerabilities = items[0].json.vulnerabilities;\nif (!vulnerabilities || vulnerabilities.length === 0) return [];\nreturn vulnerabilities.map(vuln => {\n  const cve = vuln.cve;\n\n  const cvssV31 = cve.metrics?.cvssMetricV31?.[0]?.cvssData;\n  const cvssV40 = cve.metrics?.cvssMetricV40?.[0]?.cvssData;\n  const cvss = cvssV31 || cvssV40;\n\n  const description = cve.descriptions?.find(d => d.lang === 'en')?.value || '';\n  return {\n    json: {\n      cve_id: cve.id,\n      published: cve.published,\n      severity: cvss?.baseSeverity || 'UNKNOWN',\n      cvss_score: cvss?.baseScore || 0,\n      description: description,\n      vuln_status: cve.vulnStatus\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "c61f23af-3961-4886-93a2-9f2cd6a73b26",
      "name": "Parse + Extract Relevant Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e4399589-8d41-4672-b3c9-0dce11c2da8f",
              "leftValue": "={{ $json.cvss_score }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        608,
        0
      ],
      "id": "7a579551-a285-4409-9364-781c2d65baa3",
      "name": "Filter CVSS Score >= 7.0"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.cves) staticData.cves = [];\n\n\nconst existingIds = new Set(staticData.cves.map(c => c.cve_id));\nconst newCves = items\n  .map(item => item.json)\n  .filter(cve => !existingIds.has(cve.cve_id));\n\nstaticData.cves = [...staticData.cves, ...newCves];\n\nconsole.log(`Added ${newCves.length} new CVEs. Total stored: ${staticData.cves.length}`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "6ff74c22-03ce-4574-bfb1-ee471166494b",
      "name": "Log Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:3001/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "KODOPRO"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "express"
            },
            {
              "name": "url",
              "value": "https://github.com/expressjs/express"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        0
      ],
      "id": "35681f98-1c7f-47b7-9257-5aad56041add",
      "name": "Trigger Repo Scan"
    }
  ],
  "pinData": {
    "Log Results": [
      {
        "json": {
          "cve_id": "CVE-2024-TEST",
          "severity": "HIGH",
          "cvss_score": 8.5
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse + Extract Relevant Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Extract Relevant Fields": {
      "main": [
        [
          {
            "node": "Filter CVSS Score >= 7.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter CVSS Score >= 7.0": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Results": {
      "main": [
        [
          {
            "node": "Trigger Repo Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d40820f-67fd-46ea-ac47-d600f423edf7",
  "meta": {
    "instanceId": "918f24420fcb0df075ae5a46799593bbca934a776280388a055c97aef282074f"
  },
  "id": "PQbsVx13r6zEGvhw",
  "tags": []
}